.project-details-container {
  padding: 70px 250px;
  margin: 0 auto;
  background-color: #f4f4f9;
  margin-top: 57px;
  min-height: 909px;
  border: 2px solid blue;
}

.projectd-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #6a5acd;
  margin-bottom: 20px;
}

.project-main-content {
  display: flex;
  gap: 30px; /* Space between description and image */
  flex-wrap: wrap; /* Allow content to wrap if necessary */
  margin-top: 40px;
}

.project-description-container {
  flex: 1; /* Ensure description takes the remaining space */
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify; /* Justify text for better alignment */
  padding: 10px 0;
}

.project-image-container {
  flex-shrink: 0;
  width: 35%; /* Image takes fixed space */
  max-width: 500px; /* Optional max-width */
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tech-stack-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin-top: 40px;
}

.project-tech-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.tech-card {
  width: 18%;
  min-width: 150px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.tech-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.tech-card:nth-child(odd) {
  background-color: #f9f9f9;
}

.tech-card:nth-child(even) {
  background-color: #f2f2f2;
}

.project-repo-link {
  display: inline-block;
  margin-top: 60px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-repo-link:hover {
  background-color: #6a5acd;
}
