/* Navbar styles */
.navbar {
  background-color: #333; /* Darker background for the navbar */
  padding: 0 10px; 
}

.navbar-brand {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 30px; /* Space between name and links */
}

.first-name {
  color: #28a745; /* Green color for first name */
}

.last-name {
  color: #6a5acd; /* Purple color for last name */
}

.navbar-nav {
  flex-direction: row;
}

.nav-item .nav-link {
  color: #fff;
  font-size: 1.1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-item .nav-link:hover {
  transform: scale(1.1); /* Scale the link when hovered */
  color: #28a745; /* Green color on hover */
}
/* Make the active link stand out */
.navbar-nav .nav-item .nav-link.active {
  color: #6a5acd !important; /* Ensure green color when active */
  font-weight: bold;
}


.navbar-toggler-icon {
  filter: brightness(0.5); /* Slightly dim the toggler icon */
}

.navbar-nav .nav-item {
  margin-left: 30px; /* Spacing between nav items */
}
