.about-me-container {
  padding: 70px 250px;
  background-color: #ffffff;
  height: 908px;
  margin: 0;
}

.about-me-title {
  font-size: 2.5rem;
  color: #6a5acd; 
  text-align: center;
}

.about-me-content {
  display: flex;
  flex-direction: column; /* Stack profile summary and skills */
  align-items: center; 
}

.about-me-left {
  flex: 1;
}

.about-me-right {
  flex: 1;
  width: 100%; /* Take full width to align skills properly */
}

.about-me-heading {
  font-size: 1.8rem;
  color: #28a745;
  margin-bottom: 40px;
  margin-top: 80px;
}

.profile-summary {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  text-align: justify;
  width: 100%; 
}

.skills-container {
  display: flex;
  flex-wrap: wrap; /* Allow the skills to wrap */
  gap: 30px; /* Space between categories */
  justify-content: left;
  width: 70%;
}

.skill-category {
  width: 45%; /* Two categories per row */
  margin-bottom: 30px;
}

.skill-category-name {
  font-size: 1.4rem;
  color: #6a5acd;
  margin-bottom: 10px;
}

.skill-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill-card {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.2s, box-shadow 0.2s;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
